#Contenedoring{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;

}
#Titulo_principal{
   font-size: 36px;
   font-weight: bold;

    display: flex;
    justify-content: left;
}

#texto_inicial{
    font-size: 22px;

    display: flex;
    justify-content: left;
}
#tarjeta_erick{
    background-color: #e8d9d9;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#tarjeta_nelson{
    background-color: #e8d9d9;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#tarjetas_integrantes{
    
    background-color: #e8d9d9;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#texto_span{

    text-align: center;
}

@media screen and (max-width: 377px){
    
    /*Le asignamos un tamaño al texto*/
    #tarjeta_erick{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;
    }
    #tarjeta_nelson{
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;

    }
    #tarjetas_integrantes{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;

    }

    #titulo_principal{
        font-size: 27px;

    }
  
    #texto_inicial{
        font-size: 17px;
    }
  

}


@media screen and (min-width:377px) and (max-width: 576px){

      
   
    #Subtema_texto1{
        font-size: 22px;
    }
    #texto_inicial{
        font-size: 18px;
    }

    #tarjeta_erick{
        margin-left: 70px;
        margin-right: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;
    }
    #tarjeta_nelson{
        margin-right: 5px;
        margin-left: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;

    }
    #tarjetas_integrantes{
        margin-left: 70px;
        margin-right: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;

    }
}


@media screen and (min-width:766px) and (max-width:909px) {
    

    #Subtema_texto1{
        font-size: 24px;
    }
    #texto_inicial{
        font-size: 20px;
    }
    #tarjeta_erick{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;
    }
    #tarjeta_nelson{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;

    }
    #tarjetas_integrantes{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;

    }

}