
#Letras_usuario{
    font-size: 40px;
    padding-left: 3%;

    display: flex;

}
#contenedorsito{
    padding-left: 3%;
    background-color: #f8cc93;
    width: 100%;
    height: 5px;
    display: flex;
}

#Boton_registrar{
    background-color:rgb(255, 255, 255); 
    border: 3px solid rgb(19, 97, 0);
    color: black;
    margin-bottom: 3%;
    position: relative;
    left: 1%;
    bottom: 24%;
    text-align: center;
    vertical-align: bottom;
}
#Boton_Examinar{
    background-color:rgb(255, 255, 255); 
    border: 3px solid rgb(19, 97, 0);
    color: black;
    margin-bottom: 3%;
    position: relative;
    left: 10%;
    bottom: 24%;
    text-align: center;
    vertical-align: bottom;
}
#problemix{
    padding-left: -1%;
}
#fila_xd{
    width: 100%;
}


@media screen and (max-width: 375px){
    
    /*Le asignamos un tamaño al texto*/

    
#Letras_usuario{
    font-size: 30px;
    padding-left: 0%;

}
#contenedorsito{
    padding-left: 0%;
    background-color: #f8cc93;
    width: 100%;
    height: 5px;
    display: flex;
}

#Boton_registrar{
    background-color:rgb(255, 255, 255); 
    border: 1px solid rgb(19, 97, 0);
    width: 125px;
    color: black;
    margin-bottom: 3%;
    position: absolute;
    bottom: 24%;
    text-align: center;
    vertical-align: bottom;
}
#Boton_Examinar{
    background-color:rgb(255, 255, 255); 
    border: 3px solid rgb(19, 97, 0);
    width: 40px;
    color: black;
    margin-bottom: 3%;
    position: absolute;
    left: 0%;
    bottom: 24%;
    text-align: left;
    vertical-align: bottom;
}

}

/*Pantalla de celular1*/
@media screen and (min-width:375px) and (max-width: 377px){
    #Boton_registrar{
        background-color:rgb(255, 255, 255); 
        border: 1px solid rgb(19, 97, 0);
        width: 125px;
        color: black;
        margin-bottom: 3%;
        position: relative;
        bottom: 24%;
        text-align: center;
        vertical-align: bottom;
    }
}
/*Pantalla de celular2*/
@media screen and (min-width: 378px) and (max-width:700px
){
    #Boton_registrar{
        background-color:rgb(255, 255, 255); 
        border: 1px solid rgb(19, 97, 0);
        width: 125px;
        color: black;
        margin-bottom: 3%;
        position: relative;
        bottom: 24%;
        text-align: center;
        vertical-align: bottom;
    }
}
/*Pantalla de tablet*/
@media screen and (min-width:766px) and (max-width:909px) {
    

}
/*Pantalla de laptop*/
@media screen and (min-width: 910px) and (max-width: 1200px){

}
@media screen and (min-width: 2500px) and (max-width: 1700) {
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}