/*Barra de color que anuncia ofertas*/
#barra_anuncio {
    height: 42px;
    background-color: #2f6950;
    color: #ffffff;
}

/*Le asignamos un color al texto*/
#barra_anuncio .mensaje_arriba {
    color: #ffffff;
}

/*Le damos propiedades a la barra de arriba*/
#barra_anuncio a {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Asignamos propiedades a la imagen de la barra de arriba*/
#barra_anuncio img {
    margin-right: 10px;
}

/*Le asignamos tamaño a la imagen del logo*/
#logo_imagen img{
    max-height: 75px;
    max-width: 284px;
}

#boton_categoria a{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Modificamos del contenedor de logo, categoria, buscador, idioma, login y carrito*/
#apartado_buscador {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#boton_categoria {
    width: 100px;
    color: #777676;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

#boton_categoria option:hover {
    color: #2f6950;
}

#buscador {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buscador nav {
    height: 40px;
}

#buscador a {
    margin-left: 5px;
}

#buscador form {
    max-width: 450px;
    max-height: 40px;
    color: #777676;
}

#tprecio{
    color:#2f6950;
}

#textolink{
    color:#2f6950;  
}

#nombre_producto{
    color: black;
    font-size: 20px;
}

#tituloiz{
    font-size: 35px;
}

#apartadoiz{
    font-size: 25px;
}

#subapartadoiz{
    font-size: 15px;
}

#contenidot{
    margin-top: 50px;
}

#contlis{
    font-size: 13px;
}

/*Propiedades del boton de idioma*/
#boton_idioma a {
    width: 100px;
    color: #777676;

    display: flex;
    justify-content: center;
    align-items: center;
}

#coloriz{
    background-color: #2f6950;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#coloriz2{
    background-color: #ec6e19;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none; 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#coloriz3{
    background-color: #f0f02e;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none; 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#coloriz4{
    background-color: #765aa8;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none; 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#coloriz5{
    background-color: #36465d;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none; 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#coloriz6{
    background-color: #c63637;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none; 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#coloriz7{
    background-color: #352200;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none; 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#coloriz8{
    background-color: #f0f0f0;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none; 
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*Le asignamos un tamaño a las letras del boton*/
#boton_idioma p {
    font-size: 12px;
    margin-right: 10px;
}


/*Le asignamos tamaño al boton de login*/
#boton_login img{
    max-height:35px;
    max-width:35px;
}

/*Le asignamos tamaño al boton de Carrito*/
#boton_carrito img{
    max-height:35px;
    max-width:35px;
}

/*Le asignamos propiedades al boton de cantidad productos*/
#boton_carrito span{
    color: #ffff;
    background-color: #b51d26;
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: -40px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    border-radius: 100%!important;
    align-content: center!important;
    justify-content: center!important;
}

.material-tooltip{
    background-color: #2f6950 !important;
}

#menu a {
    color: #4a4a4a;

    width: 190px;
}

/*Cuando se coloque el mouse encima de una opción del mouse, las letras cambian de color*/
#menu a:hover {
    color: #2f6950;
}

#menu.sticky {
    position: fixed;
    top: 0;
}

#desactivado {
    text-transform: capitalize;
}

#desactivado {
    font-size: 15px;

    cursor: default;
}

.btn-flat disabled {
    cursor: default;
}

#desactivadoP {
    text-transform: capitalize;
    font-size: 15px;
}

.titulo_categoria{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tarjetas {
    background-color: #e8d9d9;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tarjetas a{
    color: #2f6950;
}

#tarjetas a:hover{
    color: #ffff;
}

.card {
    padding: 7px;
}

.card img {
    height: 200px;
    width: 300px;
}

.card a {
    border: 2px solid #2f6950;
    padding: 5px 35px 5px 35px;
}

.card a:hover {
    background-color: #2f6950;
}

/*---------------------------------Footer--------------------------------*/

/*-Colocamos un color al footer-*/
footer {
    background-color: #f8cc93;
}

/*-Al contenido en el aside le agregamos la propiedad flex y en filas, luego-*/
#informacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*Baseline alinea los ítems en el contenedor según la base del contenido de los ítems del contenedor. */
    align-items:baseline;
    /*Permite el desbordamiento, util para el tamaño de diferentes dispositivos*/
    flex-wrap: wrap;
}

/*-El div que contiene el E-mail de suscripción le damos un tamaño-*/
#correo{
    width: 250px;
}

/*-Titulos de los apartados en el footer-*/
#informacion p {
    color: #282012;
    font-weight: bold;
    font-size: 10px;
}

/*-Botones(Enlaces) de los apartados en el footer-*/
#informacion a {
    color: #282012;
    font-size: smaller;
}

/*-Botones de links de redes sociales-*/
#redes a {
    margin-right: 7px;
}


/*Le cambiamos el color a las imagenes de redes al colocarse encima el mouse*/
.instagram:hover{
    /*filter: dota de efectos gráficos como el desenfoque o cambio de color*/
    /*drop-shadow añade efectos de sombra alrededor del marco de un elemento*/
    filter: saturate(90%) opacity(0.3) drop-shadow(2px 2px 5px #bd00a7); 
}

/*Le cambiamos el color a las imagenes de redes al colocarse encima el mouse*/
.facebook:hover{
    /*filter: dota de efectos gráficos como el desenfoque o cambio de color*/
    /*drop-shadow añade efectos de sombra alrededor del marco de un elemento*/
    filter: saturate(90%) opacity(0.4) drop-shadow(0px 0px 5px #01c7ee); 
}

/*Le cambiamos el color a las imagenes de redes al colocarse encima el mouse*/
.youtube:hover{
    /*filter: dota de efectos gráficos como el desenfoque o cambio de color*/
    /*drop-shadow añade efectos de sombra alrededor del marco de un elemento*/
    filter: saturate(90%) opacity(0.4) drop-shadow(0px 0px 5px #f10000); 
}

.tiktok:hover{
    /*filter: dota de efectos gráficos como el desenfoque o cambio de color*/
    /*drop-shadow añade efectos de sombra alrededor del marco de un elemento*/
    filter: saturate(90%) opacity(0.4) drop-shadow(0px 0px 5px #7c41da); 
}

/*-Le damos un tamaño al input donde se colocar un correo-*/
#informacion input{
    max-width: 180px;
}

/*Le dam*/
.ingresar_correo{
    display: flex;
	flex-direction: row;
	justify-content: center;
    /*Flex-star alinea los ítems al principio del eje secundario*/
	align-items: flex-start;
	align-content: center;
}

/*Le damos un tamaño al boton de enviar*/
.ingresar_correo a{
    height: 46px;
}

/*Le damos la posición relativa para ajustarlo a las medidas exactas y quede centrado*/
.ingresar_correo img{
    position:relative;
    top:10%;
}

/*-Footer Terminos-*/
#pie{
    font-size: smaller;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

/*-Le damos la propiedad negrita a terminos y condiciones del sitio-*/
.terminos p {
    font-weight: bold;
}

/*----------------------------------------------RESPONSIVE---------------------------------------------------------------------*/

/*para celulares*/
@media screen and (max-width: 377px){
    
    /*Le asignamos un tamaño al texto*/
    #barra_anuncio p {
        font-size: smaller;
    }

    /*Le asignamos tamaño a la imagen del logo*/
    #logo_imagen img{
        height: 45px;
        width: 150px;
    }

    /*Modificamos del contenedor de logo, categoria, buscador, idioma, login y carrito*/
    #apartado_buscador{
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-right: 0px;
        margin-left: 0px;
    }

    /*Propiedades del boton de idioma*/
    #boton_idioma a {
        width: 70px;
        height: 30px;
        color: #777676;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Le asignamos un tamaño a las letras del boton*/
    #boton_idioma p {
        font-size: 9px;
        margin-right: 5px;
    }

    /*Le asignamos tamaño al boton de Carrito*/
    #boton_carrito img{
        max-height:30px;
        max-width:30px;
    }

    /*Le asignamos propiedades al boton de cantidad productos*/
    #boton_carrito span{
        color: #ffff;
        background-color: #b51d26;
        margin-left: 22px;
        margin-top: -35px;
        margin-bottom: 10px;
        position: relative;
        /*Important es una función que se antepone a cualquier otro estilo del componente*/
        display: flex!important;
        width: 20px!important;
        height: 20px!important;
        border-radius: 100%!important;
        align-content: center!important;
        justify-content: center!important;
    }

    .input-field{
        max-width: 280px;
        max-height: 40px;
    }


    #menu_desplegable{
        max-width: 40px;
    }

    /*Modificamos las propiedades del buscador para moviles*/
    #buscador2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /*Baseline alinea los ítems en el contenedor según la base del contenido de los ítems del contenedor. */
        align-items: center;
    }

    #buscador2 nav {
        height: 25px;
        width: 180px;
    }

    #buscador2 img{
        margin-bottom: -8px;
        margin-left: 180px;
    }

    #buscador2 form {
        margin-top: 2px;
        max-width: 200px;
        color: #777676;
    }

    /*Editar el titulo del slider*/
    #slider_main h1{
        font-size: 45px;
    }

    #slider_main h3{
        font-size: 25px;
    }

    .titulo_categoria{
        font-size: 35px;
    }

    /*Le asignamos nuevos valores a las card*/
    #tarjetas {
        height: 220px;
        margin-top: 2px;
        margin-bottom: 15px;
    }
    
    #tarjetas a{
        color: #2f6950;
        font-size: 10px;
        width: 60px;

        padding: 2px;
        margin: 0px;
    }

    #tarjetas span{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .card {
        padding: 5px;
    }
    
    .card img {
        height: 110px;
        width: 200px;
    }
}


@media screen and (min-width:377px) and (max-width: 576px){
    #menu_desplegable{
        max-width: 40px;
    }
    
    /*Modificamos las propiedades del buscador para moviles*/
    #buscador2 {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        /*Baseline alinea los ítems en el contenedor según la base del contenido de los ítems del contenedor. */
        align-items: center;
    }

    #buscador2 nav {
        height: 25px;
        width: 280px;
    }

    #buscador2 img{
        margin-bottom: -8px;
        margin-left: 285px;
    }

    #buscador2 form {
        margin-top: 2px;
        max-width: 280px;
        color: #777676;
    }
}


@media screen and (min-width:766px) and (max-width:909px) {
    #menu_desplegable{
        max-width: 40px;
    }
    
    /*Modificamos las propiedades del buscador para moviles*/
    #buscador2 {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        /*Baseline alinea los ítems en el contenedor según la base del contenido de los ítems del contenedor. */
        align-items: center;
    }

    #buscador2 nav {
        height: 25px;
        width: 580px;
    }

    #buscador2 img{
        margin-bottom: -8px;
        margin-left: 585px;
    }

    #buscador2 form {
        margin-top: 2px;
        max-width: 580px;
        color: #777676;
    }
}

@media screen and (min-width:910px) and (max-width:1133px){

}

@media screen and (min-width:1134px) and (max-width:1333px) {

}