/*Mantener fijo el footer abajo*/
body {
    display: flex;
    /*100vh = altura del viewport*/
    min-height: 100vh;
    flex-direction: column;
}

section{
    flex: 1 0 auto;
}

#formulario{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    align-items:center;
    justify-content: space-between;
}

#formulario h5{
    color: #282012;
    font-weight: 600;
}

#formulario li{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Le damos un nuevo tamaño a la imagen de Le Cameleon*/
#logo img{
    max-width: 340px;
    max-height: 300px;
}

#datos span{
    color:#36465d;
}

#datos img{
    margin-top: 15px;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

#boton_registrar{
    display: flex;
    flex-direction: row;
    /* Alinear items en el centro */
    justify-content: center;
    margin-bottom: 25px;
}

/*Cambiamos las propiedades del boton iniciar sesion*/
#boton_registrar a{
    background-color: #DA7D27;
    box-shadow: none;
}

#boton_registrar a:hover{
    padding: 0px 18px 5px 18px;
    background-color: #ffff;
    border: 1.5px solid #DA7D27;
    color: #DA7D27;
}

/*---------------------------------Footer--------------------------------*/

/*-Colocamos un color al footer-*/
footer {
    background-color: #f8cc93;
    bottom: 0;
    position: relative;
}

/*-Footer Terminos-*/
#pie{
    text-align: center;
    font-size: smaller;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*----------------------------------------------RESPONSIVE---------------------------------------------------------------------*/

/*para celulares*/
@media screen and (max-width: 374px){
    #formulario{
        width: 95%;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items:center;
        justify-content: center;
    }

    /*Le damos un nuevo tamaño a la imagen de Le Cameleon*/
    #logo img{
        max-width: 250px;
        max-height: 230px;
    }

    /*-Footer Terminos-*/
    #pie{
        position: relative;
        font-size: smaller;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        font-size: smaller;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media screen and (min-width:375px) and (max-width:576px){
    #formulario{
        width: 90%;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items:center;
        justify-content: center;
    }

    /*Le damos un nuevo tamaño a la imagen de Le Cameleon*/
    #logo img{
        max-width: 320px;
        max-height: 245px;
        margin-left: -15px;
        position: relative;
    }

    /*Editamos el footer*/
    #pie{
        position: relative;
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        font-size: small;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media screen and (min-width:577px) and (max-width:765px){
    /*Le damos un nuevo tamaño a la imagen de Le Cameleon*/
    #logo img{
        max-width: 200px;
        max-height: 245px;
        margin-left: 35px;
        position: relative;
    }
    
    /*Editamos el footer*/
    #pie{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}