body {
    display: flex;
    /*100vh = altura del viewport*/
    min-height: 100vh;
    flex-direction: column;
}

section{
    flex: 1 0 auto;
}

#contenido{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/*Le damos un nuevo tamaño a la imagen de Le Cameleon*/
#logo img{
    max-width: 180px;
    max-height: 135px;
}

#tarjeta_login{
    height: 500px;
    width: 400px;
    box-shadow: 0px 1px 5px 2px #bfbfbf;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

#imagen_usuario{
    display: flex;
    flex-direction: row;
    /* Alinear items en el centro */
    justify-content: center;
}

.card-content{
    height: 420px;
    width: 390px;
}

/*Modificamos el titulo de la tarjeta de Iniciar Sesión*/
#tarjeta_login h5{
    color: #282012;
    font-weight: bold;
}

/*Le asignamos un tamaño y color a las palabras de usuario y contraseña*/
#tarjeta_login p{
    color: #2f6950;
    width: 100px;
}

#credenciales{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

#credenciales a{
    color: #36465d;
}

#password{
    width: 300px;
}

#contra{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}

#contra img{
    margin-top: 20px !important;
    position: relative !important;
    height: 25px !important;
    width: 25px !important;
    cursor: pointer;
}

/*Le damos un nuevo tamaño a la imagen del usuario*/
#tarjeta_login img{
    height: 40px;
    width: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#boton_iniciar{
    width: 390px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

/*Cambiamos las propiedades del boton iniciar sesion*/
#boton_iniciar a{
    background-color: #DA7D27;
    box-shadow: none;
}

#boton_iniciar a:hover{
    padding: 0px 18px 5px 18px;
    background-color: #ffff;
    border: 1.5px solid #DA7D27;
    color: #DA7D27;
}

#registro{
    align-self: center;
}

#textod{
    align-items: center;
    align-content: center;
    text-align: center;
}

#codigod{
    margin-top: 100px;
}

/*---------------------------------Footer--------------------------------*/

/*-Colocamos un color al footer-*/
footer {
    background-color: #f8cc93;
    bottom: 0;
    position: relative;
}

/*-Footer Terminos-*/
#pie{
    position: relative;
    font-size: smaller;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.terminos{
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

/*-Le damos la propiedad negrita a terminos y condiciones del sitio-*/
.terminos p{
    font-weight: bold;
}

#sitio_privado{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#sitio_privado a{
    font-weight: bolder;
    color: #282012;
    padding: 5px;
}

/*----------------------------------------------RESPONSIVE---------------------------------------------------------------------*/

/*para celulares*/
@media screen and (max-width: 374px){
    /*Editamos el tamaño de la tarjeta*/
    #tarjeta_login{
        max-height: 450px;
        max-width: 300px;
    }

    .card-content{
        height: 350px;
        width: 300px;
    }

    #boton_iniciar{
        width: 300px;   
    }

    #tarjeta_login {
        font-size: smaller;
    }

    /*-Footer Terminos-*/
    #pie{
        position: relative;
        font-size: smaller;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        font-size: smaller;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}


@media screen and (min-width:375px) and (max-width:576px){
    /*Editamos el tamaño de la tarjeta*/
    #tarjeta_login{
        max-height: 450px;
        max-width: 360px;
    }

    .card-content{
        height: 380px;
        width: 360px;
    }

    #boton_iniciar{
        margin: 0px;
        padding: 0px;
        width: 360px;   
    }

    #tarjeta_login{
        font-size: smaller;
    }
    
    /*Editamos el footer*/
    #pie{
        position: relative;
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        font-size: small;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media screen and (min-width:577px) and (max-width:765px){
    /*Editamos el footer*/
    #pie{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media screen and (min-width:766px) and (max-width:909px) {
}

@media screen and (min-width:910px) and (max-width:1133px){
    
}

@media screen and (min-width:1134px) and (max-width:1333px) {
    
}