body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section {
    min-height: 700px;
    flex: 1 0 auto;
}

/*Barra de color que anuncia ofertas*/
#barra_anuncio {
    height: 42px;
    background-color: #2f6950;
}

/*Modificamos del contenedor de logo, nombre, tipo usuario y imagen usuario*/
#apartado_header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;
}

/*Le asignamos tamaño a la imagen del logo*/
#logo_imagen img{
    max-height: 75px;
    max-width: 284px;
}

#usuario p{
    font-weight: 600;
    color: #36465d;
    display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content:flex-start;
    margin-right: 25px;
}

#usuario{
    padding: 10px 20px 5px 15px;
    display: flex;
	flex-direction: row;
	align-items:center;
	align-content: center;
}

/*Le asignamos tamaño a la imagen de usuario*/
#usuario img{
    max-height: 45px;
    max-width: 45px;
    cursor: pointer;
}

#usuario i{
    cursor: pointer;
}

#dropdown_usuario{
    width: 200px!important;
}

#dropdown_usuario img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    top: 4px;
    position: relative;
}

#opciones_movil img{
    width: 20px;
    height: 20px;
    top: 4px;
    margin-right: 10px;
    position:relative;
}

#menu a {
    color: #4a4a4a;
    min-width: 155px;
    max-width: 250px;
}

/*Cuando se coloque el mouse encima de una opción del mouse, las letras cambian de color*/
#menu a:hover {
    color: #2f6950;
}

#menu.sticky {
    position: fixed;
    top: 0;
}

/*Menú para moviles le cambiamos el color de las letras en el sidenav*/
.user-view a{
    color: #ffffff;
}

/*---------------------------------SECTION--------------------------------*/

#titulo_buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#buscador {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buscador nav {
    height: 40px;
}

#buscador a {
    margin-left: 5px;
}

#buscador form {
    max-width: 450px;
    max-height: 40px;
    color: #777676;
}

#titulo_modal{
    color: #282012;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
}

#titulo_modal img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

#imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-wrap: wrap;
}

#imagenes p{
    color: #36465d;
    font-size: 12px;
    text-align: center;
}

#imagenes a{
    background-color: #36465d;
    color: #ffffff;
}

#imagenes a:hover{
    background-color: #ffffff;
    color: #36465d;
    border: 2px solid #36465d;
}

#imagen_principal img{
    width: 200px;
    height: 200px;
    margin-top: 15px;
    padding: 15px;
}

#imagenes_secundarias img{
    width: 40px;
    height: 40px;
}

#contenido_credenciales{
    margin-top: 15px;
    height: 700px;
    width: 570px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: space-between;
}

#agregarModal{
    height: 90%;
    width: 90%;
}

#editarModal{
    height: 90%;
    width: 90%;
}

#campos{
    height: 99%;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-wrap: wrap;
}

#boton_agregar{
    text-align: center;
    padding: 15px;
}

#boton_agregar a{
    background-color: #2f6950;
    color: #ffffff;
}

#tabla img{
    width: 80px;
}

#acciones{
    display: flex;
    flex-direction: row;
}

#acciones img{
    margin-left: 15px;
    width: 35px;
    height: 35px;
}

/*Modal 2*/
#titulo_modal2{
    color: #282012;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
}

#titulo_modal2 img{
    width: 30px !important;
    height: 30px;
    margin-top: 5px;
    margin-left: -5px;
}

#imagenes2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-wrap: wrap;
}

#imagenes2 p{
    color: #36465d;
    font-size: 12px;
    text-align: center;
}

#imagenes2 a{
    background-color: #36465d;
    color: #ffffff;
}

#imagenes2 a:hover{
    background-color: #ffffff;
    color: #36465d;
    border: 2px solid #36465d;
}

#imagenes2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-wrap: wrap;
}

#imagenes2 p{
    color: #36465d;
    font-size: 12px;
    text-align: center;
}

#imagenes2 a{
    background-color: #36465d;
    color: #ffffff;
}

#imagenes2 a:hover{
    background-color: #ffffff;
    color: #36465d;
    border: 2px solid #36465d;
}

#imagen_principal2 img{
    width: 200px;
    height: 200px;
    margin-top: 15px;
    padding: 15px;
}

#imagenes_secundarias2 img{
    width: 40px;
    height: 40px;
}

#contenido_credenciales2{
    margin-top: 15px;
    height: 700px;
    width: 570px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: space-between;
}

#editarModal{
    height: 90%;
    width: 90%;
}

#campos2{
    height: 99%;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-wrap: wrap;
}

#boton_modificar{
    text-align: center;
    padding: 15px;
}

#boton_modificar a{
    background-color: #36465d;
    color: #ffffff;
}

#boton_eliminar{
    text-align: center;
    padding: 15px;
}

#boton_eliminar p{
    color: #d32f2f;
}

#boton_eliminar a{
    background-color: #d32f2f;
    color: #ffffff;
}

/*Modal 3*/
#eliminarModal{
    height: 90%;
    width: 90%;
}

/*Modal 4*/
#reseñaModal{
    height: 90%;
    width: 90%;
}

#estrellas{
    display: flex;
    flex-direction: row;
}

#estrellas img{
    width: 25px;
    height: 25px;
}

#estado_reseña{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between ;
    justify-items: center;
}

/*Propiedades del boton de idioma*/
#estado_reseña a {
    width: 100px;
    background-color: #36465d;
    color: #ffff;

    display: flex;
    justify-content: center;
    align-items: center;
}

#estado_reseña img{
    width: 15px;
    height: 15px;
}

/*---------------------------------Footer--------------------------------*/

/*-Colocamos un color al footer-*/
footer {
    background-color: #f8cc93;
}

/*-Footer Terminos-*/
#pie{
    position: relative;
    font-size: smaller;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.terminos{
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

/*-Le damos la propiedad negrita a terminos y condiciones del sitio-*/
.terminos p{
    font-weight: bold;
}

#sitio_privado{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#sitio_privado a{
    font-weight: bolder;
    color: #282012;
    padding: 5px;
}

/*----------------------------------------------RESPONSIVE---------------------------------------------------------------------*/

/*para celulares*/
@media screen and (max-width: 374px){
    #menu_desplegable{
        max-width: 40px;
    }

    #titulo_buscador h4{
        font-size: 20px;
    }

    /*-----------------------SECTION-----------------------*/

    #titulo_buscador{
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #tabla th{
        font-size: 12px;
    }

    #tabla td{
        font-size: 12px;
    }


    /*-Footer Terminos-*/
    #pie{
        position: relative;
        font-size: smaller;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        font-size: smaller;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}


@media screen and (min-width:375px) and (max-width:576px){
    #menu_desplegable{
        max-width: 40px;
    }

    /*-----------------------SECTION-----------------------*/

    #titulo_buscador{
        padding-bottom: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /*Editamos el footer*/
    #pie{
        position: relative;
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        font-size: small;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media screen and (min-width:577px) and (max-width:765px){
    #menu_desplegable{
        max-width: 40px;
    }
}

@media screen and (min-width:766px) and (max-width:909px) {
    #menu_desplegable{
        max-width: 40px;
    }
}

@media screen and (min-width:910px) and (max-width:1133px){
    #menu_desplegable{
        max-width: 60px;
    }

    .container{
        padding-top: 70px;
    }    
}

@media screen and (min-width:1134px) and (max-width:1333px) {
    .container{
        padding-top: 70px;
    }    
}