body {
    display: flex;
    /*100vh = altura del viewport*/
    min-height: 100vh;
    flex-direction: column;
}

section{
    flex: 1 0 auto;
}

/*Alineamos la Card al centro de la página*/
#contenido{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/*Le damos un nuevo tamaño a la imagen de Le Cameleon*/
#logo img{
    max-width: 180px;
    max-height: 135px;
}

/*Le asignamos un tamaño y otras propiedades a la card*/
#tarjeta_recuperar{
    height: 600px;
    width: 400px;
    box-shadow: 0px 1px 5px 2px #bfbfbf;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

/*Alineamos la imagen al centro de la card*/
#imagen_mensaje{
    display: flex;
    flex-direction: row;
    /* Alinear items en el centro */
    justify-content: center;
}

/*Le damos un nuevo tamaño a la imagen del mensaje*/
#imagen_mensaje img{
    height: 60px;
    width: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*Modificamos el titulo de la tarjeta de Iniciar Sesión*/
#tarjeta_recuperar h5{
    color: #282012;
    font-weight: bold;
}

#anuncio{
    font-size: small;
    text-align: center;
    color: #282012;
}

/*Le asignamos un tamaño y color a las palabras de usuario y contraseña*/
#codigo p{
    color: #2f6950;
}

#reenviar{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#reenviar a{
    color: #36465d;
}

#boton_validar{
    width: 400px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

/*Cambiamos las propiedades del boton iniciar sesion*/
#boton_validar a{
    background-color: #DA7D27;
    box-shadow: none;
}

#boton_validar a:hover{
    padding: 0px 18px 5px 18px;
    background-color: #ffff;
    border: 1.5px solid #DA7D27;
    color: #DA7D27;
}

/*---------------------------------Footer--------------------------------*/

/*-Colocamos un color al footer-*/
footer {
    background-color: #f8cc93;
    bottom: 0;
    position: relative;
}

/*-Footer Terminos-*/
#pie{
    position: relative;
    font-size: smaller;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

.terminos{
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

/*-Le damos la propiedad negrita a terminos y condiciones del sitio-*/
.terminos p{
    font-weight: bold;
}

#sitio_privado{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#sitio_privado a{
    font-weight: bolder;
    color: #282012;
    padding: 5px;
}

/*----------------------------------------------RESPONSIVE---------------------------------------------------------------------*/

/*para celulares*/
@media screen and (max-width: 374px){
    /*Editamos el tamaño de la tarjeta*/
    #tarjeta_recuperar{
        max-height: 570px;
        max-width: 300px;
    }

    #boton_validar{
        width: 300px;   
    }

    #tarjeta_recuperar{
        font-size: smaller;
    }

    /*-Footer Terminos-*/
    #pie{
        position: relative;
        font-size: smaller;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        font-size: smaller;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}


@media screen and (min-width:375px) and (max-width:576px){
    /*Editamos el tamaño de la tarjeta*/
    #tarjeta_recuperar{
        height: 550px;
        width: 360px;
    }

    #boton_validar{
        margin: 0px;
        padding: 0px;
        width: 360px;   
    }

    #tarjeta_recuperar{
        font-size: smaller;
    }
    
    /*Editamos el footer*/
    #pie{
        position: relative;
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        font-size: small;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media screen and (min-width:577px) and (max-width:765px){
    /*Editamos el footer*/
    #pie{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    .terminos{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: center;
    }

    #sitio_privado{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

@media screen and (min-width:766px) and (max-width:909px) {
}

@media screen and (min-width:910px) and (max-width:1133px){
    
}

@media screen and (min-width:1134px) and (max-width:1333px) {
    
}